/*----------------------------------
  Spaces
------------------------------------*/
.u-content-space {
  padding-top: $g-content-space-y;
  padding-bottom: $g-content-space-y;
}

.u-content-space-top {
  padding-top: $g-content-space-y;
}

.u-content-space-bottom {
  padding-bottom: $g-content-space-y;
}

/*----------------------------------
  Pull
------------------------------------*/
.u-pull-half {
  transform: translate3d(0, -50%, 0);
}

/*----------------------------------
  Links
------------------------------------*/
.u-link {
  color: $g-dark;
  text-decoration: none;

  &:hover {
    color: theme-color("primary");
    text-decoration: none;
  }
}

/*----------------------------------
  Box Shadow
------------------------------------*/
.u-box-shadow-sm {
  box-shadow: $g-box-shadow-sm;
}

.u-box-shadow-lg {
  box-shadow: $g-box-shadow-lg;
}

/*----------------------------------
  Hero Image
------------------------------------*/
.u-hero-img {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

/*----------------------------------
  Overlays
------------------------------------*/
.u-overlay {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--dark::after {
    background-color: rgba($g-dark, .3);
  }
  &--light::after {
    background-color: rgba($g-white, .3);
  }

  &__inner {
    position: relative;
    z-index: 1;
  }
}

/*----------------------------------
  Block Alignments
------------------------------------*/
.u-ver {
  &-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate3d(0, -50%, 0);
  }

  &-bottom {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate3d(-50%, 0, 0);
  }
}