/*------------------------------------
  Mockup (Browser)
------------------------------------*/
.u-browser-img {
  position: relative;
  top: -7px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}