/*----------------------------------
  Pager
------------------------------------*/
.pager-btn {
  min-width: 7.2rem;

  &.btn-sm {
    min-width: 6.2rem;
  }
  &.btn-lg {
    min-width: 9.4rem;
  }
}